{% extends "form.html" %}
{% load staticfiles %}

{% block before_the_form %}

<p class="text-right">
	<a class="btn btn-link" href="{% url 'sites__site_preview' pk=object.pk %}">
		Voir mon site
		<i class="fa fa-chevron-circle-right"></i>
	</a>
</p>

{% endblock before_the_form %}

{% block after_the_form %}

	<div class="card mt-3">
		<div class="card-header">
			<h2>Modules</h2>
		</div>
		<div class="modules card-body">
			{% for module in object.module_set.all %}
				<div class="module">
					<h4 class="module__title">{{ forloop.counter }}. {{ module.template }}</h4>
					<form action="{% url 'sites__module_update' module.pk %}" method="post">
					{% csrf_token %}
					{% for field in module.template.get_fields %}
						{% include 'sites/module_field.html' with module=module %}
					{% endfor %}
						<p>
							<button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-floppy-o"></i> Enregistrer</button>
							<a class="btn btn-sm btn-secondary" href=""><i class="fa fa-trash"></i> Supprimer</a>
						</p>
					</form>
				</div>
				<hr/>
			{% endfor %}
			<div class="text-right">
				<a class="btn btn-secondary" href="{% url 'sites__choose_module' pk=object.pk %}">
					<i class="fa fa-plus"></i>
					Ajouter un module
				</a>
			</div>
		</div>
	</div>

{% endblock after_the_form %}