<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link active" href="#">
			<i class="fa fa-tachometer"></i> Vue d'ensemble
		</a>
	</li>
	<li>
		<a class="nav-link" href="{% url 'sites__site_create' %}">
			<i class="fa fa-plus"></i> Créer un site
		</a>
	</li>
	{% if user.is_staff %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'admin:index' %}">
			<i class="fa fa-wrench"></i> Administration
		</a>
	</li>
	{% endif %}
</ul>
<hr/>
<footer class="small text-muted" style="padding: .5rem 1rem">
	<p>
		Plateforme mise à disposition par
		<a target="_blank" href="http://m.me/antoningrele">Antonin Grêlé</a> et les
		<a target="_blank" href="http://jeunes-democrates.org">Jeunes Démocrates</a>.
	</p>
	<p>
		En cas de problème, contactez-nous : <a href="mailto:contact@jeunes-democrates.org?subject=Problème avec Digidem">contact@jeunes-democrates.org</a>
	</p>
</footer>