{% extends "meta.html" %}
{% load static %}

{% block head %}{{ block.super }}
	<style>
		#main { margin: 1rem auto; }
	</style>
{% endblock head %}

{% block body %}

	<div class="container-fluid">
	
		<div class="row">
	
			<div id="main" class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12">
	
				{% block messages %}
					{% include "messages.html" %}
				{% endblock messages %}

				{% if view.title %}
					<h1>{{ view.title }}</h1>
					{% if view.description %}<p class="page-description">{{ view.description }}</p>{% endif %}
					<hr/>
				{% endif %}

	
				{% block content %}
					<!-- Main content displayed here -->
				{% endblock content %}
	
			</div>
	
		</div>
	
	</div>

{% endblock body %}

{% block scripts %} {{ block.super }}

	<style>
		.help-block { font-size: .8em; margin-top: .25rem; opacity: .65; font-style: italic; }
		.btn:hover { cursor: pointer; }
	</style>

{% endblock scripts %}


</html>