{% extends "base.html" %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block content %}{{ block.super }}

	{% comment %} Customizable additional elements {% endcomment %}
	{% block before_the_form %}{% endblock before_the_form %}

	<div class="card mt-3">
		{% if view.form_title %}
		<div class="card-header">
			<h2>{{ view.form_title }}</h2>
		</div>
		{% endif %}
		<div class="card-body">
			<form class="form-horizontal" method="post" action="#">

				{% csrf_token %}			

				{% comment %} Standard form based on model fields {% endcomment %}
				{% bootstrap_form form %}

				{% comment %} Customiseable additional elements {% endcomment %}
				{% block additional_form_elements %}{% endblock additional_form_elements %}

				{% comment %} Customiseable submit button {% endcomment %}
				<button class="btn btn-block btn-primary">
					<span>
						{% if view.form_submit_button_icon %}
							<i class="fa fa-{{ view.form_submit_button_icon }}"></i>
						{% else %}
							<i class="fa fa-check"></i>
						{% endif %}
					</span>
					<span>
						{% if view.form_submit_button_label %}
							{{ view.form_submit_button_label }}
						{% else %}
							Valider
						{% endif %}
					</span>
				</button>

			</form>
		</div>
	</div>

	{% comment %} Customizable additional elements {% endcomment %}
	{% block after_the_form %}{% endblock after_the_form %}

{% endblock content %}



{% block scripts %} {{ block.super }}

	{{ form.media }}

{% endblock scripts %}