{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{%  static 'favicon.png' %}">

	<title>
		{% if view.title %}
			{% block title %}{% endblock title %} | Digidem
		{% else %}
			Digidem
		{% endif %}
	</title>

	{% if view.description %}
		 <meta name="description" property="og:description" content="{{ view.description }}">
	{% endif %}

	<meta property="og:image" content="http://sites.jdem.fr/static/logo.png" />

	{% block head %}{% endblock head %}

</head>

<body style="background-color: #fafafa">

	{% block body %}{% endblock %}

</body>

{% block scripts %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script>
		$('.alert').alert() // enable bootstrap 4 alert dismissal
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock scripts %}

</html>